---
import { Button, Dropdown } from 'studiocms:ui/components';
---

<Dropdown
  id='dropdown-preview'
  options={[
    { label: 'View Profile', value: 'view-profile', icon: 'heroicons:user' },
    { label: 'Settings', value: 'settings', icon: 'heroicons:cog-6-tooth' },
    { label: 'Log out', value: 'log-out', color: 'danger', icon: 'heroicons:arrow-left-start-on-rectangle' },
  ]}
  align='start'
>
  <Button color='primary'>
    Trigger Dropdown
  </Button>
</Dropdown>
<script>
  import { DropdownHelper } from "studiocms:ui/components";

  new DropdownHelper('dropdown-preview');
</script>
