---
import { Icon, TabItem, Tabs } from 'studiocms:ui/components';
import { Code } from '@astrojs/starlight/components';
import DropdownExample from '~/components/landing/DropdownExample.astro';
import dropdownExampleCode from '~/components/landing/DropdownExample.astro?raw';
import formExampleCode from '~/components/landing/FormExample.astro?raw';
import ModalExample from '~/components/landing/ModalExample.astro';
import modalExampleCode from '~/components/landing/ModalExample.astro?raw';
import FormExample from './FormExample.astro';
import PageHeader from './PageHeader.astro';

const splitCodeBasedOnComment = (code: string): string => {
	const splitCode = code.split('<!-- CODE_SPLIT -->');

	return splitCode.length > 1 ? splitCode[0].trim() : code.trim();
};
---

<section class="showcase not-content">
    <PageHeader
        icon="heroicons:square-3-stack-3d"
        title="Modular by design"
        subtitle="StudioCMS UI components are reusable, flexible, and composable, helping you build incredible interfaces with ease."
    />
    <Tabs>
        <TabItem label='Forms' icon='heroicons:pencil'>
            <div class="preview-code-container">
                <div class="preview-container">
                    <FormExample />
                </div>
                <Code
                    code={splitCodeBasedOnComment(formExampleCode)}
                    lang={'astro'}
                    class={'preview-code'}
                    frame='code'
                    showLineNumbers
                    meta={'title="FormExample.astro"'}
                />
            </div>
        </TabItem>
        <TabItem label='Dropdowns' icon='heroicons:square-2-stack'>
            <div class="preview-code-container">
                <div class="preview-container">
                    <DropdownExample />
                </div>
                <Code
                    code={splitCodeBasedOnComment(dropdownExampleCode)}
                    lang={'astro'}
                    class={'preview-code'}
                    frame='code'
                    showLineNumbers
                    meta={'title="DropdownExample.astro"'}
                />
            </div>
        </TabItem>
        <TabItem label='Modals' icon='heroicons:arrows-pointing-out'>
            <div class="preview-code-container">
                <div class="preview-container">
                    <ModalExample />
                </div>
                <Code
                    code={splitCodeBasedOnComment(modalExampleCode)}
                    lang={'astro'}
                    class={'preview-code'}
                    frame='code'
                    showLineNumbers
                    meta={'title="ModalExample.astro"'}
                />
            </div>
        </TabItem>
    </Tabs>
</section>
<style>
    .showcase {
        margin-top: 4rem !important;
        padding: 4rem 10vw;
        width: 100%;
        background: hsl(var(--background-step-1));
    }

    @media screen and (max-width: 1500px) {
        .showcase {
            padding: 2rem;
        }
    }

    .preview-code-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 2rem;
        gap: 2rem;
    }

    .preview-code-container > div {
        width: 100%;
        max-width: 50%;
    }

    .preview-container {
        background-color: hsl(var(--background-base));
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 1100px) {
        .preview-code-container {
            flex-direction: column;
        }

        .preview-code-container > div {
            max-width: 100%;
        }
    }
</style>
<style is:global>
    .showcase header {
        margin-top: 0 !important;
    }
</style>
