.sui-radio-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.sui-radio-container.disabled {
	opacity: 0.5;
	color: var(--text-muted);
}

.sui-radio-label.disabled {
	opacity: 0.5;
	color: var(--text-muted);
	pointer-events: none;
}

.req-star {
	color: var(--danger-vibrant);
	font-weight: 700;
}

.sui-radio-inputs {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.sui-radio-container.horizontal .sui-radio-inputs {
	flex-direction: row;
}

.sui-radio-label {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	position: relative;
	align-items: center;
}

.sui-radio-label:hover .sui-radio-box {
	outline-color: var(--default-hover);
}

.sui-radio-container:not(.disabled) .sui-radio-label:active .sui-radio-box {
	outline-color: var(--default-active);
	scale: 0.9;
}

.sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
	background-color: var(--text-normal);
	outline-color: var(--text-normal);
}

.sui-radio-container.primary .sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
	background-color: var(--primary-base);
	outline-color: var(--primary-base);
}

.sui-radio-container.success .sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
	background-color: var(--success-base);
	outline-color: var(--success-base);
}

.sui-radio-container.warning .sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
	background-color: var(--warning-base);
	outline-color: var(--warning-base);
}

.sui-radio-container.danger .sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
	background-color: var(--danger-vibrant);
	outline-color: var(--danger-vibrant);
}

.sui-radio-container.info .sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
	background-color: var(--info-vibrant);
	outline-color: var(--info-vibrant);
}

.sui-radio-container.mono .sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
	background-color: var(--mono-base);
	outline-color: var(--mono-base);
}

.sui-radio-box-container {
	width: 20px;
	height: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.sui-radio-box {
	width: 12px;
	height: 12px;
	border-radius: var(--radius-full);
	outline: 1px solid var(--default-base);
	outline-offset: 4px;
	transition: all 0.15s ease;
}

.sui-radio-box:focus-visible {
	outline-color: var(--text-normal) !important;
}

.sui-radio-toggle {
	width: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;
	margin: 0;
	position: absolute;
}
