.sui-radio-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.sui-radio-container.disabled {
  opacity: 0.5;
  color: hsl(var(--text-muted));
}

.sui-radio-label.disabled {
  opacity: 0.5;
  color: hsl(var(--text-muted));
  pointer-events: none;
}

.req-star {
  color: hsl(var(--danger-base));
  font-weight: 700;
}

.sui-radio-inputs {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.sui-radio-container.horizontal .sui-radio-inputs {
  flex-direction: row;
}

.sui-radio-label {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  position: relative;
  align-items: center;
}

.sui-radio-label:hover .sui-radio-box {
  outline-color: hsl(var(--default-hover));
}

.sui-radio-container:not(.disabled) .sui-radio-label:active .sui-radio-box {
  outline-color: hsl(var(--default-active));
  scale: 0.9;
}

.sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
  background-color: hsl(var(--text-normal));
  outline-color: hsl(var(--text-normal));
}

.sui-radio-container.primary .sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
  background-color: hsl(var(--primary-base));
  outline-color: hsl(var(--primary-base));
}

.sui-radio-container.success .sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
  background-color: hsl(var(--success-base));
  outline-color: hsl(var(--success-base));
}

.sui-radio-container.warning .sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
  background-color: hsl(var(--warning-base));
  outline-color: hsl(var(--warning-base));
}

.sui-radio-container.danger .sui-radio-label:has(.sui-radio-toggle:checked) .sui-radio-box {
  background-color: hsl(var(--danger-base));
  outline-color: hsl(var(--danger-base));
}

.sui-radio-box-container {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sui-radio-box {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  outline: 1px solid hsl(var(--default-base));
  outline-offset: 4px;
  transition: all .15s ease;
}

.sui-radio-box:focus-visible {
  outline-color: hsl(var(--text-normal)) !important;
}

.sui-radio-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  position: absolute;
}
