.sui-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.sui-avatar-container {
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsl(var(--default-base));
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid hsl(var(--border));
}

.sui-avatar-img {
  width: 100%;
  height: auto;
}

.sui-text-content {
  display: flex;
  flex-direction: column;
  gap: .125rem;
}

.sui-name {
  font-size: 1em;
  font-weight: 600;
}

.sui-description {
  font-size: .875em;
  font-weight: 400;
  color: hsl(var(--text-muted));
}
