:root {
	/* Default Styles (Dark Mode) */
	--background-base: hsl(0 0% 6%); /* dark-background */
	--background-step-1: hsl(0 0% 8%); /* dark-background */
	--background-step-2: hsl(0, 0%, 9%); /* dark-background */
	--background-step-3: hsl(0, 0%, 12%); /* dark-background */
	--text-normal: hsl(0 0% 100%); /* dark-text */
	--text-dimmed: hsl(0 0% 100% / 0.8); /* dark-text */
	--text-muted: hsl(0 0% 100% / 0.75); /* dark-text */
	--text-inverted: hsl(0 0% 0%); /* dark-text */
	--text-inverted-dimmed: hsl(0 0% 0% / 0.7); /* dark-text */
	--text-inverted-muted: hsl(0 0% 0% / 0.65); /* dark-text */
	--border: hsl(240 5% 17%); /* dark-border */
	--shadow: hsl(0 0% 0% / 0.6); /* dark-shadow */
	--default-base: hsl(0, 0%, 12%); /* dark-background */
	--default-hover: hsl(0, 0%, 17%); /* dark-background */
	--default-active: hsl(0, 0%, 14%); /* dark-background */
	--primary-base: hsl(259, 60%, 71%); /* dark-background */
	--primary-hover: hsl(259, 71%, 79%); /* dark-background */
	--primary-active: hsl(259, 75%, 74%); /* dark-background */
	--success-base: hsl(142, 69%, 46%); /* dark-background */
	--success-hover: hsl(142, 67%, 59%); /* dark-background */
	--success-active: hsl(142, 84%, 55%); /* dark-background */
	--warning-base: hsl(48, 92%, 55%); /* dark-background */
	--warning-hover: hsl(48, 95%, 66%); /* dark-background */
	--warning-active: hsl(48, 93%, 58%); /* dark-background */
	--danger-base: hsl(339, 91%, 22%); /* dark-background */
	--danger-hover: hsl(337, 90%, 27%); /* dark-background */
	--danger-active: hsl(337, 90%, 25%); /* dark-background */
	--info-base: hsl(214, 96%, 22%); /* dark-background */
	--info-hover: hsl(214, 92%, 26%); /* dark-background */
	--info-active: hsl(214, 94%, 24%); /* dark-background */
	--mono-base: hsl(0 0% 100%); /* dark-background */
	--mono-hover: hsl(0 0% 90%); /* dark-background */
	--mono-active: hsl(0 0% 95%); /* dark-background */
	/* Non-specific variables */
	--text-light: hsl(0 0% 100%); /* both-text */
	--text-dark: hsl(0 0% 0%); /* both-text pu*/
	/* Flat colorways since they use variables */
	--default-flat: hsl(0 0% 14% / 0.5); /* both-flat */
	--default-flat-hover: hsl(0 0% 14% / 0.75); /* both-flat */
	--default-flat-active: hsl(0 0% 14% / 0.85); /* both-flat */
	--primary-flat: hsl(259 83% 73% / 0.1); /* both-flat */
	--primary-flat-hover: hsl(259 83% 73% / 0.25); /* both-flat */
	--primary-flat-active: hsl(259 83% 73% / 0.35); /* both-flat */
	--success-flat: hsl(142 71% 46% / 0.1); /* both-flat */
	--success-flat-hover: hsl(142 71% 46% / 0.25); /* both-flat */
	--success-flat-active: hsl(142 71% 46% / 0.35); /* both-flat */
	--warning-flat: hsl(48 96% 53% / 0.1); /* both-flat */
	--warning-flat-hover: hsl(48 96% 53% / 0.25); /* both-flat */
	--warning-flat-active: hsl(48 96% 53% / 0.35); /* both-flat */
	--danger-flat: hsl(339 97% 31% / 0.1); /* both-flat */
	--danger-flat-hover: hsl(339 97% 31% / 0.25); /* both-flat */
	--danger-flat-active: hsl(339 97% 31% / 0.35); /* both-flat */
	--info-flat: hsl(217 92% 52% / 0.1); /* both-flat */
	--info-flat-hover: hsl(217 92% 52% / 0.25); /* both-flat */
	--info-flat-active: hsl(217 92% 52% / 0.35); /* both-flat */
	--mono-flat: hsla(0, 0%, 70%, 0.1); /* both-flat */
	--mono-flat-hover: hsl(0 0% 70% / 0.25); /* both-flat */
	--mono-flat-active: hsl(0 0% 70% / 0.35); /* both-flat */
}
[data-theme="light"] {
	/* Light Mode Styles */
	--background-base: hsl(0 0% 97%); /* light-background */
	--background-step-1: hsl(0 0% 92%); /* light-background */
	--background-step-2: hsl(0 0% 87%); /* light-background */
	--background-step-3: hsl(0 0% 83%); /* light-background */
	--text-normal: hsl(0 0% 0%); /* light-text */
	--text-dimmed: hsl(0 0% 0% / 0.8); /* light-text */
	--text-muted: hsl(0 0% 0% / 0.75); /* light-text */
	--text-inverted: hsl(0 0% 100%); /* light-text */
	--text-inverted-dimmed: hsl(0 0% 100% / 0.85); /* light-text */
	--text-inverted-muted: hsl(0 0% 100% / 0.75); /* light-text */
	--border: hsl(263 5% 68%); /* light-border */
	--shadow: hsl(0 0% 65% / 0.6); /* light-shadow */
	--default-base: hsl(0, 0%, 82%); /* light-background */
	--default-hover: hsl(0, 0%, 91%); /* light-background */
	--default-active: hsl(0, 0%, 86%); /* light-background */
	--primary-base: hsl(259, 74%, 25%); /* light-background */
	--primary-hover: hsl(259, 76%, 35%); /* light-background */
	--primary-active: hsl(259, 76%, 32%); /* light-background */
	--success-base: hsl(142, 60%, 44%); /* light-background */
	--success-hover: hsl(142, 60%, 55%); /* light-background */
	--success-active: hsl(142 60% 50%); /* light-background */
	--warning-base: hsl(48, 84%, 42%); /* light-background */
	--warning-hover: hsl(48, 85%, 49%); /* light-background */
	--warning-active: hsl(48, 86%, 45%); /* light-background */
	--danger-base: hsl(339, 93%, 15%); /* light-background */
	--danger-hover: hsl(337, 88%, 22%); /* light-background */
	--danger-active: hsl(337, 89%, 19%); /* light-background */
	--info-base: hsl(214, 96%, 22%); /* light-background */
	--info-hover: hsl(214, 92%, 26%); /* light-background */
	--info-active: hsl(214, 94%, 24%); /* light-background */
	--mono-base: hsl(0 0% 10%); /* light-background */
	--mono-hover: hsl(0 0% 16%); /* light-background */
	--mono-active: hsl(0 0% 14%); /* light-background */
}
