*,
*::before,
*::after {
	box-sizing: border-box !important;
}

html {
	color-scheme: dark;
	accent-color: var(--primary-base);
}

html,
body {
	margin: 0;
}

html[data-theme="light"] {
	color-scheme: light;
}

body {
	-webkit-font-smoothing: antialiased;
	color: var(--text-normal);
	background-color: var(--background-base);
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
code {
	overflow-wrap: anywhere;
}

code {
	font-family: monospace;
}

button {
	border: none;
	outline: none;
	background: none;
	padding: 0;
}
