.sui-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sui-group .sui-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.sui-group .sui-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.sui-group .sui-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Missing: Badges, Cards, Selects, SearchSelects, Inputs */
