---
import { Icon } from '@astrojs/starlight/components';
import Default from '@astrojs/starlight/components/PageTitle.astro';
import type { Props } from '@astrojs/starlight/props';
import Version from '~/components/Version.astro';

const { data } = Astro.props.entry;

function ensureTrailingSlash(url: string) {
	return url.endsWith('/') ? url : `${url}/`;
}
---
{
	data.type === 'integration' ? (
		<div class="wrapper">
			<h1 id="_top">
				<span class="scope">@studiocms/</span>
				<span>{data.integration.name.replace('@studiocms/', '')}</span>
			</h1>
			<div class="integration-metadata">
				{ data.integration.released ? <Version pkgName={data.integration.name} /> : <code>N/A</code>}
				<a href={data.integration.githubURL}>
					<Icon size="1rem" name="github" /> GitHub
				</a>
				<a href={'https://www.npmjs.com/package/' + data.integration.name}>
					<svg width="16" height="16" viewBox="0 0 576 512" fill="currentColor" aria-hidden="true">
						<path d="M288 288h-32v-64h32v64zm288-128v192H288v32H160v-32H0V160h576zm-416 32H32v128h64v-96h32v96h32V192zm160 0H192v160h64v-32h64V192zm224 0H352v128h64v-96h32v96h32v-96h32v96h32V192z" />
					</svg>
					npm
				</a>
				<a href={ensureTrailingSlash(data.integration.githubURL) + 'CHANGELOG.md'}>
					<Icon size="1rem" name="list-format" /> {Astro.locals.t('integration-labels.changelog')}
				</a>
			</div>
		</div>
	) : data.template !== 'splash' && (
	<Default {...Astro.props}>
		<slot />
	</Default>
)}

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	h1 {
		display: flex;
		flex-wrap: wrap;
		color: var(--sl-color-white);
		font-size: var(--sl-text-h1);
		font-weight: 700;
		line-height: var(--sl-line-height-headings);
	}
	.scope {
		color: var(--sl-color-text);
		font-weight: 500;
	}
	.integration-metadata {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.5rem 1rem;
		font-size: var(--sl-text-xs);
	}
	.integration-metadata a {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		text-decoration: none;
		color: var(--sl-color-text-accent);
	}
	.integration-metadata a:hover {
		color: var(--sl-color-white);
	}
	.integration-metadata svg {
		width: 1.5rem;
	}
	code {
		background-color: var(--sl-custom-code-color);
		border-radius: var(--sl-border-radius-medium);
		color: var(--sl-color-gray-800);
		font-size: var(--sl-font-size-small);
		padding: 0.125rem 0.375rem;
		margin-block: -0.125rem;
	}
</style>
