#sui-theme-toggle, #sui-theme-toggle * {
  color: hsl(var(--text-normal));
}

#sui-theme-toggle #dark-content, #sui-theme-toggle #light-content {
  display: none;
  width: fit-content;
  height: fit-content;
  max-height: 100%;
}

[data-theme="dark"] #sui-theme-toggle #dark-content {
  display: block;
}

[data-theme="light"] #sui-theme-toggle #light-content {
  display: block;
}
