---

---

<html>
    <head>
        <title>My Astro Site</title>
    </head>
    <body>
        <h1>Welcome to Astro!</h1>
        <p>My Astro site is up and running!</p>
        <a href="/docs/">Go to the docs</a>
    </body>
</html>