.sui-textarea-label {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	max-width: 80ch;
}

.sui-textarea-label.disabled {
	opacity: 0.5;
	pointer-events: none;
	color: var(--text-muted);
}

.sui-textarea-label.full-width {
	width: 100%;
	max-width: none;
}

.sui-textarea-label.full-height {
	height: 100%;
}

.label {
	font-size: 14px;
}

.sui-textarea {
	padding: 0.65rem;
	border-radius: var(--radius-md);
	border: 1px solid var(--border);
	background: var(--background-step-2);
	color: var(--text-normal);
	transition: all 0.15s ease;
	resize: none;
	min-height: 12ch;
	width: 100%;
	height: 100%;
}

.sui-textarea:hover {
	background: var(--background-step-3);
}

.resize .sui-textarea {
	resize: both;
}

.sui-textarea:active,
.sui-textarea:focus {
	border: 1px solid var(--primary-base);
	outline: none;
	background: var(--background-step-2);
}

.req-star {
	color: var(--danger-vibrant);
	font-weight: 700;
}
