.sui-divider-container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
}

.sui-divider-line {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	height: 1px;
	background-color: hsl(var(--border));
	z-index: 1;
	border: none;
}

.sui-divider-content {
	z-index: 2;
	color: hsl(var(--text-muted));
}
