.sui-progress {
  width: 100%;
  height: 1rem;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.sui-progress-slider {
  height: 100%;
  width: 0;
  transition: all .75s ease;
  border-radius: var(--radius-sm);
  background-color: hsl(var(--primary-base));
}

.sui-progress.success .sui-progress-slider {
  background-color: hsl(var(--success-base));
}

.sui-progress.warning .sui-progress-slider {
  background-color: hsl(var(--warning-base));
}

.sui-progress.danger .sui-progress-slider {
  background-color: hsl(var(--danger-base));
}

.sui-progress.info .sui-progress-slider {
  background-color: hsl(var(--info-base));
}

.sui-progress.monochrome .sui-progress-slider {
  background-color: hsl(var(--mono-base));
}
