.sui-tabs-container {
	width: 100%;
}

.sui-tabs-list {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	width: 100%;
	overflow-x: auto;
	overflow-y: visible;
	position: relative;
}

.default .sui-tabs-list {
	margin-top: -4px;
	margin-bottom: calc(2rem - 4px);
	padding: 4px 4px;
	margin-left: -4px;
}

.center .sui-tabs-list {
	justify-content: center;
}

.right .sui-tabs-list {
	justify-content: flex-end;
}

.sui-tab-header {
	margin-top: 0 !important;
	display: flex;
	flex-direction: row;
	gap: .5rem;
	cursor: pointer;
	position: relative;
	min-width: fit-content;
}

.default .sui-tab-header {
	border-radius: var(--radius-md);
	height: 40px;
	padding: 0.5rem 0.75rem;
	transition: all .15s ease;
	font-size: 0.875em;
	outline: 2px solid transparent;
	outline-offset: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sui-tab-header * {
	pointer-events: none;
}

.default .sui-tab-header:focus-visible {
	outline: 2px solid hsl(var(--text-normal));
	outline-offset: 2px;
}

.default .sui-tab-header:hover {
	background-color: hsla(var(--default-flat-active)) !important;
}

.default .sui-tab-header.active {
	background-color: hsla(var(--primary-flat-active)) !important;
}

.default .sui-tab-header.success.active {
	background-color: hsla(var(--success-flat-active)) !important;
}

.default .sui-tab-header.warning.active {
	background-color: hsla(var(--warning-flat-active)) !important;
}

.default .sui-tab-header.danger.active {
	background-color: hsla(var(--danger-flat-active)) !important;
}

.default .sui-tab-header.danger.info {
	background-color: hsla(var(--info-flat-active)) !important;
}

.default .sui-tab-header.danger.mono {
	background-color: hsla(var(--mono-flat-active)) !important;
}

.starlight .sui-tabs-list {
	margin-bottom: 1rem;
	gap: 0;
}

.starlight .sui-tabs-list::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: hsl(var(--border));
}

.starlight .sui-tab-header {
	padding: 0.25rem 1.25rem;
	color: hsl(var(--text-muted));
}

.starlight .sui-tab-header.active {
	font-weight: 600;
	color: hsl(var(--text-normal));
}

.starlight .sui-tab-header.active::after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: hsl(var(--primary-base));
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 15;
}

.starlight .sui-tab-header:focus-visible::after {
	height: calc(100% - 2px);
	width: calc(100% - 2px);
	bottom: 1px;
	left: 1px;
	border: 2px solid hsl(var(--primary-base));
	background-color: transparent;
	outline: 1px solid hsl(var(--text-normal));
}

.default .sui-tab-header.active {
	background-color: hsla(var(--primary-flat-active)) !important;
}

.sui-tabs-content {
	width: 100%;
	margin: 0 !important;
}
